!!! 5
html
  head
    title StuBrief - Brief Assessments For Your Students
    //if lte IE 8
      meta(http-equiv='refresh', content='1;url=oldBrowser.html')  
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    - if (typeof csrf_token !== 'undefined')
      meta(name='csrf_token', content='#{csrf_token}')
    link(rel='stylesheet', href='stubrief.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
    script(src='stubrief.js')
  body
    header
      h1 StuBrief
      span.doGooders
        a(href="http://dogooders.co") DoGooders
    section#banner
      .controls
        .prev <
        .next >
      article
        h2 Quickly Assess Students
      article
        h2 Know What to Teach Next
      article
        h2 Easily Share Progress
      article
        h2 Find Your Teachers' Strengths
    section#spiel
      p 
        | Assessment usually gets in the way of education.
      p
        | StuBrief spends the minimum time assessing your student. 
      p
        | StuBrief is not meant to replace formal assessment, but 
        | focuses on helping you know where your student stands.
    section#callToAction
      button Try it now
    footer
      p Copyright 2012 DoGooders